# version: "3.9"
services:
#   db:
#     image: postgres
#     volumes:
#       - ./tmp/db:/var/lib/postgresql/data
#     environment:
#       POSTGRES_PASSWORD: password
#   backend:
#     container_name: backend
#     build: ./backend
#     command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
#     volumes:
#       - ./backend:/myapp/backend
#     ports:
#       - "3000:3000"
#     depends_on:
#       - db
  frontend:
    container_name: frontend
    build: ./frontend
    working_dir: /myapp/frontend
    volumes:
      - ./frontend:/myapp/frontend
    command: "npm run dev"
    ports:
      - "4000:4000"
  # nginx:
  #   container_name: nginx
  #   image: bitnami/nginx:1.10.2-r1
  #   volumes:
  #     - ./config/nginx:/bitnami/nginx/conf/vhosts
  #   depends_on:
  #     - backend
  #     - frontend
  #   environment:
  #     VIRTUAL_HOST: yourproject.docker
  #     VIRTUAL_PORT: 8080
  #   ports:
  #     - 8080:8080